@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  src: local('Montserrat'),
  url('../fonts/Montserrat-Medium.woff2') format('woff2'),
  url('../fonts/Montserrat-Medium.woff') format('woff'); 
  font-display: swap;
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 500;
  font-style: normal;
  src: local('Montserrat'),
  url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
  url('../fonts/ProximaNova-Bold.woff') format('woff'); 
  font-display: swap;
}