body,
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: $black;
}

.sr-only {
  font-size: 0;
  line-height: 0;
}

.main {
  height: 100%;
}

.container {
  max-width: 1540px;
  margin: 0 auto;
  padding: 0 10px;

  @include media($md21) {
    max-width: 1100px;
  }

  @include media($md22) {
    max-width: 870px;
  }

  @include media($md23) {
    max-width: 670px;
  }

  @include media($md25) {
    max-width: 357px;
  }
}

.link {
  transition: all 0.3s;

  &:hover {
    color: $orange1;
    border-color: $orange1;
  }

  &:active {
    opacity: 0.5;
  }
}

.button {
  transition: all 0.3s;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.blocked {
  overflow: hidden;
}

.simplebar-scrollbar::before {
  background: linear-gradient(90deg, #FFA400 0%, #FFCC00 100%);
  width: 3px;
  border-radius: 4px;
}