$white: #FFFFFF;
$gray1: #E5E5E5;
$gray2: #F6F6F6;
$orange1: #FFA300;
$black: #000000;


//Начал выполнение тестового с цветных блоков и адаптировал привычными брекпоинтами
$md0: 1440;
$md1: 1280;
$md2: 980;
$md3: 768;
$md4: 540;

//Переделывать адаптив цветных блоков под брекпоинты второго задания пожалел времени, надеюсь, на оценке это не отразится)
$md20: 1800;
$md21: 1366;
$md215: 1300;

$md22: 1024;
$md23: 768;
$md24: 570;
$md25: 375;

@mixin media($width) {
  @media (max-width: #{$width}px) {
    @content;
  }
}

$Lora: 'Lora', serif;